<!DOCTYPE html>
<html lang="zh-Hant">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>vue static</title>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <link href="/output.css" rel="stylesheet">

</head>

<body>
  <div id="app" class=" flex justify-center flex-col items-center h-screen">
    <div class=" w-[300px] rounded p-2 mt-2">
      <p class="text-2xl">{{message}}</p>
    </div>
    <input type="text" name="item" id="item" v-model="newTodo" @keyup.enter="addTodo"
      class="block w-[300px] h-10 rounded-md border border-blue-500 pl-2 focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm mx-auto my-5"
      placeholder="輸入代辦事項">
    <ul class="list">
      <li v-for="(todo, i) in todos" :key="todo.id"
        class="flex justify-between items-center text-2xl my-2  w-[300px] bg-slate-200 rounded p-2 text-cyan-500">
        <div class="flex items-center">
          <input type="checkbox" v-model="todo.completed" name="completed" id="completed" class="cursor-pointer">
          <p class="ml-2" :class="{'line-through text-gray-500':todo.completed}">{{todo.title}}</p>
        </div>
        <div @click="removeTodo(i)"
          class="text-white bg-red-600 rounded-full w-6 h-6 cursor-pointer text-lg flex items-center justify-center">
          <p>X</p>
        </div>
      </li>
    </ul>
    <strong>尚有 <span class="text-red-600">{{remaining}}</span> 個事項未完成</strong>
  </div>
  <script>
    function getRandomInt(max) {
      return Math.floor(Math.random() * Math.floor(max - 50) + 100);
    }

    function getRBGA() {
      return `linear-gradient(135deg, rgba(${getRandomInt(256)},${getRandomInt(256)},${getRandomInt(256)},.5), rgba(${getRandomInt(256)},${getRandomInt(256)},${getRandomInt(256)},.8)`
    }

    const elements = document.querySelectorAll('.autobg');

    Array.from(elements).forEach((element, index) => {
      element.style.backgroundImage = getRBGA();
    });

  </script>
  <script>
    const { createApp } = Vue;
    const app = createApp({
      // options api
      data() {
        return {
          message: 'TodoList with Vue (static)',
          todos: JSON.parse(localStorage.getItem('todos') || []),
          newTodo: '',
        };
      },
      methods: {
        addTodo() {
          // console.log(this.newTodo);
          const value = this.newTodo && this.newTodo.trim();
          if (!value) {
            return;
          }
          this.todos.push({ "id": this.todos.length + 1, "title": value, "completed": false });
          this.newTodo = '';
        },
        editTodo() {

        },
        removeTodo(index) {
          // const index = this.todos.indexOf(todo);
          // console.log(index);
          // const todo1 = this.todos.slice(0, index);
          // const todo2 = this.todos.slice(index + 1);
          // this.todos = todo1.concat(todo2);
          this.todos.splice(index, 1);
        },
      },
      watch: {
        todos: {
          // 監看 todos 有沒有更動
          // 有 -> 執行 handler function
          handler(todos) {
            localStorage.setItem('todos', JSON.stringify(todos));
          },
          // 看到物件或陣列的內層改變
          deep: true
        }
      },
      computed: {
        remaining() {
          let uncompleted = this.todos.filter((e) => !e.completed) || 0;
          return uncompleted.length;
        }
      }
    });
    app.mount('#app');
  </script>
</body>

</html>